<% posts.each.with_index do |post, i| %>
  <div>・<%= post.created_at.to_s(:new_info) %></div><p><a href="<%= post_path(post) %>"><%= post.title %></a> <% if i < 3 %><span style="color: #ff0000;">new</span><% end %></p>
<% end %>
